c1-neural-networks-and-deep-learning/week2/.~lock.reorganized-demo.odp#
c1-neural-networks-and-deep-learning/week4/.~lock.reorganized-demo.odp#
c4-convolutional-neural-netowrks/.~lock.reorganized-demo.odp#
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/workspace.json
